$bg-gr: #eef1f3;

$social__icon-colors: (
    fb:#395799,
    twitter: #19b2f5,
    google: #f05b44 ,
    pinterest: #9c0c1c,
    in: #0da6be,
    ball: #ea4c89

);

$social__icon-fonts: (
    fb:'\f09a',
    twitter: "\f099",
    google: "\f1a0" ,
    pinterest: "\f231",
    in: "\f08c",
    ball: "\f17d"

);


@mixin f300 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
@mixin f400 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
@mixin f600 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}