.main {
  width: 100%;
  padding: 106px 10px 104px;
  background-color: #441c7c;
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
  opacity: 0.9;
  color: #f3f3f8;
  font-family: 'Quicksand', sans-serif;

  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 30px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
}

.help {
  padding: 120px 0;
  background-color: #eff1f5;

  h2 {
    text-align: center;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    margin: 0 0 30px;
    font-weight: 400;
    a {
      color: #0674ec;
      transition: .3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .description {
    width: 59%;
    margin: 0 auto 62px;
    text-align: center;
    color: #555555;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .card {
      width: calc((100% - (30px * 2)) / 3);
      height: 295px;
      box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
      border-radius: 4px;
      background-color: #ffffff;
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: #000000;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 40px;
      }
      p {
        color: #555555;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        text-align: center;
      }
    }
  }

  .form {
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 60px 0;

    h3 {
      margin: 0;
      padding: 0 0 30px;
      border-bottom: 1px solid #e8ebf0;
      color: #000000;
      font-family: 'Quicksand', sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
    form {
      padding: 40px 194px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .textField {
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        padding: 12px 24px;
        color: #555555;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        outline: none;
        margin-bottom: 30px;
        &::placeholder {
          color: #9e9e9e;
        }
      }

      input {
        width: calc((100% - 30px) / 2);
        @extend .textField;
      }
      textarea {
        width: 100%;
        height: 100px;
        @extend .textField;
      }
      button {
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        background-color: #0674ec;
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        border: none;
        margin: 0 auto;
        padding: 18px 35px;
        transition: .3s;
        &:hover {
          opacity: .9;
          cursor: pointer;
        }
      }
    }
  }
}

.map {
  height: 400px;
}