@import 'vars';
@import 'global';
@import 'fonts';


.breadcrumbs {
    background: linear-gradient(90deg, #4f2797, #1642e5);
    padding: 56px 0;


    .breadcrumbs__title {
        @include f500;
        font-size: 30px;
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: start;
        align-items: center;


        ul {
            display: flex;
            @include f400;
            margin-bottom: 25px;

            a {
                color: #fff;
                font-size: 15px;
            }

            li {
                padding-right: 5px;
            }
        }

    }
}


.single__product {
    background-color: #eff1f5;
    padding-top: 70px;

    &__inner {
        padding-bottom: 28px;
        display: flex;
        justify-content: space-between;
    }
}

.single__product-page-wrapper {
    width: calc(100% - 390px);
}

.single__product-page {
    box-shadow: 0px 2px 4px 0 rgba(108, 111, 115, 0.1);
    background-color: #fff;
    width: 100%;
    max-height: 661px;
    margin-bottom: 28px;

    .product-page__content-wraper {
        padding: 0 30px;
    }

    .image {
        width: 100%;
        max-height: 430px;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #eff1f5;
        padding-bottom: 30px;

        button+button {
            margin-left: 30px;
        }

        button {
            @include f500;
            padding: 17px 0;
            background-color: #0674ec;
            font-size: 15px;
            box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.1);
            text-align: center;
            min-width: 190px;
            border: none;
            border-radius: 30px;

            a {
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }

        .button__favorite {
            span {
                margin-right: 9px;
            }

            a {
                color: #7347c1;
            }

            background-color: #fff;
        }
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 40px 0;

        ul {
            display: flex;

            li+li {
                margin-left: 13px;
            }

            li {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-family: 'icomoon';
                    font-size: 16px;
                    color: #fff;

                }
            }

            @each $colorname,
            $color in $social__icon-colors {
                .social-icon-#{$colorname} {
                    background-color: $color;
                }
            }

            @each $fontname,
            $font in $social__icon-fonts {
                .social-icon-#{$fontname} {
                    a::before {
                        content: $font;
                    }
                }
            }
        }

        button {
            box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            width: 190px;
            height: 50px;
            border: none;
            background-color: #fff;
            margin-right: 20px;
            // display: flex;
            // align-items: center;
            // justify-content: center;

            a {
                color: black;
                font-size: 15px;
                @include f400;
                display: inline-flex;

            }

            a::before {
                content: '\ea82';
                font-family: 'icomoon';
                margin-right: 13px;
                font-size: 18px;
            }

        }
    }
}

.single__product-aside {
    width: 360px;
    display: flex;
    flex-direction: column;

}

.single__product-price {
    box-shadow: 0px 2px 4px 0 rgba(108, 111, 115, 0.1);
    width: 360px;
    background-color: #fff;
    border-radius: 4px;

    .product__price-content {
        padding: 30px 30px 40px 30px;
    }

    .product__numbers {
        background-color: #0674ec;
        text-align: center;
        @include f500;
        font-size: 36px;
        color: #fff;
        padding: 40px 0;
        border-radius: 4px 4px 0 0;

        sup {
            font-size: 22px;
            text-transform: uppercase;
        }
    }

    .product__title {
        img {
            position: absolute;
            left: -36px;

        }

        margin-bottom: 18px;
        position: relative;
        display: flex;
        align-items: center;

        span {
            @include f500;
            font-size: 18px;
        }
    }

    .product__discription {
        display: flex;
        justify-content: left;
        flex-direction: column;
        @include f400;
        line-height: 28px;
        color: #555555;
        border-bottom: 1px solid #ececec;
        font-size: 16px;
        padding: 0 0 26px 36px;

    }

    .product__buttons {
        &-title {
            text-align: start;
            padding-left: 36px;
            margin: 30px 0 40px 0;
            @include f500;
            font-size: 18px;
            position: relative;

            img {
                position: absolute;
                left: 0;

            }
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            border-radius: 27.5px;
            box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.1);
            border: none;
            width: 100%;
            height: 55px;
            background-color: #0674ec;

            a {
                color: #fff;
                font-size: 16px;
                @include f500;
            }

            &:nth-last-child(1) {
                background-color: #7347c1;

                span {
                    margin-right: 16px;
                    color: #fff;
                }
            }

        }

        button+button {
            margin-top: 30px;
        }





    }

}

.single__product-rate {
    box-shadow: 0px 2px 4px 0 rgba(108, 111, 115, 0.1);
    margin: 30px 0;
    padding: 40px 30px;
    @include f400;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;

    .numbers {
        @include f500;
        font-size: 18px;
    }

    .rate {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
        padding-bottom: 31px;
        margin-bottom: 30px;

        p {
            display: flex;
            align-items: center;

            .lnr-cart {
                color: #0674ec;
            }

            .lnr-heart {
                color: #7f4ec2;
            }

            .lnr-bubble {
                color: #58c9e9;
            }

            span {
                margin-right: 10px;
            }
        }
    }

    .rate-star {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: #7e7e7e;
            @include f400;
            font-size: 15px;
            margin-left: 11px;
        }
    }

}

.single__product-information {
    box-shadow: 0px 2px 4px 0 rgba(108, 111, 115, 0.1);
    padding: 40px 27px;
    background-color: #fff;
    border-radius: 4px;

    .title {
        font-size: 20px;
        text-align: center;
        @include f500;
        padding-bottom: 30px;
        border-bottom: 1px solid #ececec;
    }

    ul {
        margin-top: 30px;

    }

    li {
        line-height: 2.4;
        display: flex;

        .characteristic {
            width: 50%;
            @include f600;
            font-size: 15px;
        }

        .description {
            width: 50%;
            @include f400;
            font-size: 15px;
            color: #555555;
        }

        .tags {
            color: #0674ec;
            line-height: 1.7;
        }
    }
}

.single__product-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 30px;
    padding: 40px 30px;
    box-shadow: 0px 2px 4px 0 rgba(108, 111, 115, 0.1);

    .title {
        padding-bottom: 21px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ececec;
        font-size: 20px;
        @include f500;
        color: #000000;
        width: 100%;
        text-align: center;
    }

    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        @include f600;

        img {
            margin-bottom: 24px;
        }

        span {
            @include f400;
            font-size: 15px;
            color: #7e7e7e;
            margin: 20px 0 31px 0;
        }
    }

    .social {
        display: flex;
        margin-bottom: 30px;

        .fb {
            background-color: #395799;

            a:before {
                content: "\f09a";
            }
        }

        .twitter {
            background-color: #19b2f5;

            a:before {
                content: "\f099";
            }
        }

        .ball {
            background-color: #ea4c89;

            a:before {
                content: "\f17d";
            }
        }

        li {
            width: 42px;
            height: 42px;
            border-radius: 50%;

            a {
                width: 100%;
                height: 100%;
                font-family: 'icomoon';
                font-size: 16px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        li+li {
            margin-left: 14px;
        }
    }

    .buttons {
        display: flex;

        button {
            background-color: #0674ec;
            border-radius: 30px;
            border: none;
            height: 44px;
            width: 140px;
            @include f400;
            color: #fff;
            font-size: 15px;
        }

        button+button {
            margin-left: 20px;
        }

        button:last-child {
            background-color: #7347c1;
        }

    }
}

.single__product-tabs {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    @include f400;

    span {
        @include f500;
    }

    .tab-header {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
    }

    .tab-header__item {
        font-size: 17px;
        padding: 24px 29px;
        margin-bottom: 80px;
        cursor: pointer;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        border-top: 3px solid #fff;
    }

    .tab-header__item:last-child {
        border-right: none;
    }

    .tab-header__item.active {
        color: #0674ec;
        background-color: #fff;
        border-top: 3px solid #0674ec;
        border-bottom: none;
    }
    .tab-header__item.active:hover{
        transition: all 0.8s;
    }

    .tab-content {
        padding: 0;
        margin: 0;
    }

    .tab-content__item {
        display: none;
        color: #555;
        text-align: start;
        padding: 0px 30px 80px 30px;
        
        
        
        &-title{
            @include f400;
            font-size: 24px;
            margin-bottom: 37px;
            color: black;
            &.first-title{
                font-size: 28px;
                margin-bottom: 39px;
                @include f500;
            }
        }
        &-text{
            line-height: 30px;
            margin-bottom: 65px;
        }
        li{
            line-height: 34px;
        }
        &-list{
            margin-bottom: 70px;
            span{
                @include f600;
                padding-right: 15px;
                width: 29px;
                display: inline-block;
            }
        }
        &-list.list-image {
            margin-bottom: 70px;
            li{
                background-image: url(../images/icons/list-style.png);
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 27px;
            }
        }
        &-img{
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    .tab-content__item.active {
        display: block;
    }
    .tab-content__item.active:hover{
        transition: all 1s;
    }
}

//start items

.single-rpoduct__items{
    background-color: #f6f7fb;
    padding-top: 120px;
    &-title{
        text-align: center;
        @include f400;
        font-size: 30px;
        margin: 0px 0px 50px 0px;
        span{
            color: #0674ec;
        }
    }
    &-items{
        display: flex;
        justify-content: center;
    }
}

.plugins__item + .plugins__item{
    margin-left: 28px;
}
.plugins__item {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 122px;
    // width: calc((100% -116px ) / 3); не работает , спросить почему 
    max-width: 361px;

    &-content {
        padding: 0 30px;
    }

    &-button-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        button {
            opacity: 0;
            border-radius: 22.5px;
            border: 1px solid #f4f4f4;
            color: #fff;
            background-color: transparent;
            @include f500;
            font-size: 15px;
            width: 130px;
            height: 45px;
            transition: 0.3s;
        }

        button:hover {
            color: #0674ec;
            background-color: #fff;
        }
    }

    &-picture {
        position: relative;

        &:hover {
            button {
                opacity: 1;
            }
        }
    }

    &-title {
        @include f500;
        font-size: 20px;
        color: black;
        margin: 30px 0 20px 0;
    }

    &-author {
        display: flex;
        justify-content: start;
        align-items: center;
        @include f400;
        font-size: 15px;
        margin-bottom: 20px;

        &-avatar {
            display: flex;
            align-items: center;
            line-height: 30px;
            margin-right: 30px;

            img {
                margin-right: 7px;
            }
        }

        &-cms {
            display: flex;
            align-items: center;
            // justify-content: center;
            line-height: 16px;
            color: #7347c1;

            img {
                margin-right: 9px;
            }
        }
    }

    &-text {
        @include f400;
        line-height: 30px;
        font-size: 16px;
        padding-bottom: 35px;
        color: #555;
    }
}

.plugins__item-rate {
    &-numbers {
        display: flex;
        align-items: center;
        @include f400;
        font-size: 15px;
        padding: 16px 30px;
        border-top: 1px solid #ececec;
    }

    &-numbers-price {
        @include f500;
        background-color: #e6f1fd;
        color: #0674ec;
        padding: 8px 18px;
        border-radius: 15px;
    }

    &-numbers-likes {
        display: flex;
        align-items: center;
        margin: 0 14px 0 13px;

        img {
            margin-right: 6px;
        }

    }
    .product__item-rate-ct-star{
        margin-right: 45px;
        
    }

    &-numbers-bought {
        display: flex;
        align-items: center;
        span{
            color: #0674ec;
        }

        img {
            margin-right: 10px;
        }
    }

}

//end items

//start join-us
.join-us{
    opacity: 0.9;
    background-image: linear-gradient(to right, #7221a0, #0d3ef2);
    padding: 110px 0;
    &__inner{
        display: flex;
        align-items: center;
        flex-direction: column;
        @include f400;
        color: #fff;
        .join-us__text{
            margin-bottom: 50px;
            h3{
                font-size: 36px;
                @include f400;
                margin-top: 0;
                margin-bottom: 23px;
            }
            p{
                text-align: center;
                font-size: 18px;
            }
            
        }
        .join-us__button{
            button{
                width: 190px;
                height: 55px;
                border: none;
                background-color: #fff;
                border-radius: 30px;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    color: #0674ec;

                    
                }
            }
        }
    }
}
//end join-us