@import 'vars';
@import 'global';
@import 'fonts';


// stard header 
.header__top-inner {
    display: flex;
    align-items: center;
    height: 100px;
}

.header__top {
    background-color: $bg-gr;

}


.header-logo {
    padding-left: 7px;
}

.header__logo-text {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 6px;

    span {
        color: #0674ec;
    }
}


.header__btn-become {
    a {
        color: #fff;
    }

    font-family: 'Quicksand',
    sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 140px;
    height: 36px;
    background-color: #0674ec;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.header__menu-list {

    li {
        display: inline-block;
        text-transform: uppercase;
        color: #333333;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 15px;
        padding-right: 34px;

    }
}

.header__search-form {
    width: 360px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;

    input {
        width: 100%;
        height: 46px;
        border-radius: 23px;
        border-color: #d9dfe5;
        border-style: solid;

        &::placeholder {
            color: #898f96;
            padding-left: 25px;
        }
    }

    button {
        height: 46px;
        width: 70px;
        border-radius: 23px;
        border: none;
        background-color: #0674ec;
        position: absolute;
        right: 0px;
    }
}

// end header 

// start search 
.search {
    background-color: #274acd;
    height: 729px;
}

.search__inner {
    position: relative;
    height: 100%;

    &-wrap {
        text-align: center;
        color: #f3f3f8;
        font-family: 'Quicksand', sans-serif;
    }

    &-title {
        font-weight: 400;
        font-size: 60px;
        padding: 184px 0 40px 0;
    }

    span {
        font-weight: 700;
    }

    &-text {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 70px;

    }

    &-buttons {
        button:hover {
            background-color: #fff;
            color: #274acd;
        }

        button+button {
            margin-left: 30px;
        }

        button {
            border-radius: 27px;
            width: 190px;
            height: 55px;
            font-weight: 400;
            color: #f3f3f8;
            font-family: 'Quicksand', sans-serif;
            border: 1px solid #fff;
            background-color: transparent;
            transition: all .5; // it is not working

        }
    }
}

.container-search {
    height: 100%;
}

.search__blocks {
    position: absolute;
    height: 164px;
    width: 1140px;
    display: flex;
    justify-content: center;
    bottom: -67px;

    .invisible {
        height: 135px;
        border-radius: 6px;
        background-color: #fff;
        height: 135px;
        position: absolute;
        opacity: 0.5;
    }

    &-first {
        width: 1080px;
        top: 0;
    }

    &-second {
        width: 1110px;
        top: 14px;
    }

    &-form {
        position: absolute;
        bottom: 0;
        width: 1140px;
        height: 135px;
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: center;
        align-items: center;

        .search-form {
            height: 55px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            border: 1px solid #dcdcdc;

        }

        form {
            display: flex;
            justify-content: center;
        }

        input {
            padding-left: 30px;
            width: 614px;
            border-radius: 6px 0 0 6px;
            border-right-style: none;

        }

        select {
            padding-right: 72px;
            padding-left: 20px;
            border-left-style: none;
            border-radius: 0px 6px 6px 0;
            appearance: none;
            background-image: url(../images/icons/drop-down.png);
            background-repeat: no-repeat;
            background-position: right 20px bottom 23px;
            right: 25px;

        }

        button {
            color: #fff;
            background-color: #0674ec;
            margin-left: 30px;
            width: 223px;
            border-radius: 6px;
        }
    }
}

// end search 

//start adventages
.adventages__item-wrap {
    display: flex;
    justify-content: space-between;
}

.adventages__item {
    width: calc((100% - 60px) / 3);
    margin: 185px 0 120px;
    text-align: center;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;

    img {
        margin-top: 28px;
    }

    &-title {
        font-size: 24px;
        margin: 35px 0 30px 0;

    }

    &-text {
        line-height: 30px;
        font-size: 16px;
        margin: 0 34px 68px;
    }
}

.adventages__item:hover {
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.08);
    z-index: 2;
}

//end adventages

//start product slider
.product__slider {
    background-color: #eff1f5;
    padding-top: 120px;

    &-title {
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include f400;
        font-size: 30px;
        width: 100%;
        height: 110px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        padding: 0 30px;
        margin: 0 0 50px;
    }

    &-arrows {
        background-color: #7347c1;
        width: 110px;
        height: 45px;
        border-radius: 22.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // display: inline-block!important;
    }

    &-item {
        display: flex !important;
        justify-content: center;
    }
}

.l-r__arrow {
    display: inline-block;
    position: relative;
    top: -3px;
}

.prev-arrow {
    right: 25px;
}

.next-arrow {
    left: 25px;
}

// .product-slider__item{
//     display: flex;
//     justify-content: center;
// }

.product__item {
    &-content {
        @include f400;
        padding-left: 50px;
        padding-right: 60px;
        padding-bottom: 32px;
        background-color: #fff;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    &-title {
        @include f500;
        font-size: 24px;
        margin: 50px 0 20px;
        ;
    }

    &-text {
        line-height: 30px;
        font-size: 16px;
    }

    &-author {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 35px;

        p {
            font-size: 15px;
            color: black;
            margin: 0 20px 0 10px;
        }

        &-cms {
            color: #7347c1;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                display: inline-block;
                padding-right: 10px;
            }
        }
    }

    &-caregories {
        display: flex;
        margin-top: 42px;
        border-bottom: 1px solid #ececec;
        padding-bottom: 44px;
    }

}

.category {
    // width: 100%;
    text-align: center;
    line-height: 9px;
    height: 28px;
    padding: 9px 14px;
    border-radius: 14px;
    background-color: #f1f3f6;
    color: #868c96;
}

.category+.category {
    margin-left: 8px;
}

.product__item-rate {
    @include f500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;

    &-numbers {
        display: flex;
        align-items: center;

        &-price {
            line-height: 32px;
            color: #fff;
            background-color: #0674ec;
            padding: 0 19px;
            border-radius: 16px;
        }

        &-likes {
            text-align: center;
            @include f400;
            display: flex;
            align-items: center;
            font-size: 15px;
            margin: 0 20px;

            span {
                margin-left: 9px;
            }
        }

        &-bought {
            @include f400;
            display: flex;
            align-items: center;
            font-size: 15px;

            span {
                margin-left: 9px;
            }
        }
    }
}

.product-slider__inner {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

//end product slider

//start plugins

.plugins {
    background-color: #f6f7fb;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.plugins-wrap {
    padding-top: 120px;

    .plugins__buttom-button {
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        margin-top: 60px;
        @include f400;
        font-size: 16px;
        padding: 22px 39px;
        border-radius: 30px;
        border: none;
        background-color: #0674ec;

        a {
            color: #fff;
        }
    }

}

.plugins__title {
    display: flex;
    align-items: center;
    @include f400;
    font-size: 30px;
    width: 100%;
    height: 110px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0 30px;
    margin: 0 0 28px;
    border-radius: 4px;

}

.plugins__categories {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    display: flex;
    justify-content: start;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 4px;
    padding-left: 30px;

    button {
        margin: 30px 0;
        padding: 0 20px;
        background-color: #f1f3f6;
        color: #aeb3ba;
        border: none;
        line-height: 32px;
        border-radius: 16px;
        @include f400;
        font-size: 15px;
        transition: 0.5s;
    }

    button+button {
        margin-left: 8px;
    }

    button:hover {
        background-color: #0674ec;
        color: #fff;
        // transition: all 0.5;
    }
}

.plugins__item {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 30px;
    // width: calc((100% -116px ) / 3); не работает , спросить почему 
    max-width: 361px;

    &-content {
        padding: 0 30px;
    }

    &-button-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        button {
            opacity: 0;
            border-radius: 22.5px;
            border: 1px solid #f4f4f4;
            color: #fff;
            background-color: transparent;
            @include f500;
            font-size: 15px;
            width: 130px;
            height: 45px;
            transition: 0.3s;
        }

        button:hover {
            color: #0674ec;
            background-color: #fff;
        }
    }

    &-picture {
        position: relative;

        &:hover {
            button {
                opacity: 1;
            }
        }
    }

    &-title {
        @include f500;
        font-size: 20px;
        color: black;
        margin: 30px 0 20px 0;
    }

    &-author {
        display: flex;
        justify-content: start;
        align-items: center;
        @include f400;
        font-size: 15px;
        margin-bottom: 20px;

        &-avatar {
            display: flex;
            align-items: center;
            line-height: 30px;
            margin-right: 30px;

            img {
                margin-right: 7px;
            }
        }

        &-cms {
            display: flex;
            align-items: center;
            // justify-content: center;
            line-height: 16px;
            color: #7347c1;

            img {
                margin-right: 9px;
            }
        }
    }

    &-text {
        @include f400;
        line-height: 30px;
        font-size: 16px;
        padding-bottom: 35px;
        color: #b0b0b0;
    }
}

.plugins__item-rate {
    &-numbers {
        display: flex;
        align-items: center;
        @include f400;
        font-size: 15px;
        padding: 16px 30px;
        border-top: 1px solid #ececec;
    }

    &-numbers-price {
        @include f500;
        background-color: #e6f1fd;
        color: #0674ec;
        padding: 8px 18px;
        border-radius: 15px;
    }

    &-numbers-likes {
        display: flex;
        align-items: center;
        margin: 0 140px 0 13px;

        img {
            margin-right: 6px;
        }

    }

    &-numbers-bought {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }
    }

}

//end plugins

//start second slider products
.second__product-slider {
    padding: 120px 0;
    background-color: #eff1f5;

    &-title {
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include f400;
        font-size: 30px;
        width: 100%;
        height: 110px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        padding: 0 30px;
        margin: 0 0 50px;
    }

    &-arrows {
        background-color: #0674ec;
        width: 110px;
        height: 45px;
        border-radius: 22.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

// .second__slider-item + .second__slider-item{
//     margin-left: 10px!important;
// }
// Поправить сладйер 
//end second slider products

// start statistics
.statistics {
    background-color: #212225;
}

.statistics__inner {
    display: flex;
    justify-content: space-between;
}

.statistics__item {
    &-img {
        height: 45px;
    }

    margin: 100px 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    @include f400;
    font-size: 36px;
    line-height: 34px;

    &-content {
        padding-top: 40px;
    }

    span {
        color: #fff;
        font-size: 13px;
        line-height: 14px;
    }
}

.statistic-color {
    &-orange {
        color: #feb71d;
    }

    &-blue {
        color: #58c9e9;
    }

    &-green {
        color: #77de51;
    }

    &-rose {
        color: #ff6a6d;
    }
}

// end statistics

//start benefits
.benefits__inner {
    width: 100%;
    @include f400;
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
}

.benefits__title {
    margin: 120px 0 60px 0;
    line-height: 28px;
    font-size: 36px;
    text-align: center;
    max-width: 675px;
    margin-bottom: 30px;

    span {
        color: #0674ec;
    }

    &-content {
        font-size: 16px;
        line-height: 30px;
        margin-top: 30px;
    }
}

.benefits__item {
    position: relative;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    max-height: 373px;
    margin-bottom: 30px;
    border-radius: 4px;

    &-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-img {
        margin: 55px 0;
        width: 60px;
        height: 50px;
    }

    &-title {
        font-size: 24px;

    }

    &-numbers {
        @include f300;
        position: absolute;
        left: 18px;
        top: 18px;
        color: #dee7fe;
        font-size: 48px;
    }

    &-text {
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        margin: 30px 30px 60px;
    }
}

//end benefits

//start registration 
.container-fluid{
    display: flex;
    justify-content: center;
}
.choice__registration-inner{
    display: flex;
    justify-content: center;
    .registration{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        max-height: 561px;
        max-width: 960px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include f400;
        color: #fff;
        padding: 100px 0;
        .title{
            font-size:36px;
            margin: 49px 0 34px 0;
        }
        .content{
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            margin: 0  190px 49px;
        }
        a{
            background-color: #fff;
            border-radius: 35px;
            padding: 21px 26px;
            font-size: 16px;
        }
    }
    .author{
        
        background-image: url(../images/footer/bg-author.png);
        a{
            color: #0674ec;
        }
        
        
    }
    .client{
        background-image: url(../images/footer/bg-client.png);
        a{
            color: #7347c1;
        }
        
    }
}
//end registration 

//start clients
.clients {
    background-color: #fff;
    @include f400;
}

.clients__inner {
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        width: 190px;
        height: 55px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        background-color: #0674ec;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 141px;

        a {
            width: 100%;
            color: #ffffff;
            font-size: 16px;
            line-height: 72px;
            @include f400
        }
    }
}

.clients__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clients__title {
        font-size: 36px;
        line-height: 28px;
        margin: 121px 0 36px 0;

        span {
            color: #0674ec;
        }

        &-text {
            max-width: 675px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            margin-bottom: 60px;
            color: #555555;
        }
    }
}

.clients__item-wrap {
    display: flex;
}

.clients__item {
    border-left: 2px solid #0674ec;
    ;
    border-radius: 4px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    max-width: 556px;
    margin: 0 29px 60px 0;

    &-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 43px 29px 40px;
    }

    &-author {
        display: flex;
        align-items: center;
    }

    &-title {
        margin-left: 19px;

        p {
            font-size: 20px;
        }

        span {
            font-size: 16px;
            color: #555555;
        }
    }

    &-text {
        margin: 0 25px 50px 25px;
        color: #555555;
        line-height: 30px;
        font-size: 16px;
    }
}

//end clients

//start news
.news {
    background-color: #eff1f5;
    padding-top: 122px;
}

.news__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        @include f400;
        line-height: 28px;
        font-size: 36px;
        margin-bottom: 36px;
        color: black;
        text-align: center;

        span {
            color: #0674ec;
            margin-left: 12px;
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        width: 59%;
        margin-bottom: 60px;

        p {
            @include f400;
            text-align: center;
            font-size: 16px;
            line-height: 30px;
        }
    }
}

.news__items-wrap {
    display: flex;
    justify-content: center;
}

.news__item+.news__item {
    margin-left: 28px;
}

.news__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 120px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    // width: calc((100% - 56px) / 3);
    width: 361px;

    &-title {
        @include f500;
        font-size: 22px;
        margin: 31px 0 30px 28px;
    }

    &-text {
        color: #555555;
        font-size: 16px;
        @include f400;
        line-height: 30px;
        margin: 0 40px 30px 28px;

    }

    &-icons {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ececec;
        @include f400;
        color: #7e7e7e;
        font-size: 15px;
        width: 100%;
        padding: 10px 0;

        &-date {
            border-right: 1px solid #ececec;
            padding: 13px 48px 13px 29px;
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;
            }
        }

        &-numbers {
            display: flex;
            align-items: center;
        }
    }

}

.icons__numbers-comments {
    display: flex;
    align-items: center;
    margin-right: 30px;

    img {
        margin-right: 7px;
    }
}

.icons__numbers-views {
    margin-right: 30px;

    img {
        margin-right: 3px;
    }
}

// средний айтем сьехал, нужно поправить 
//end news

//start guarantee-support
.guarantee-support__inner {
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-size: 24px;
    @include f400;
    text-align: center;

    p {
        margin-top: 32px;
    }
}

.guarantee-support-gurantee {
    border-right: 1px solid #e8eaf3;
    padding: 62px 130px 60px 0;

    span {
        color: #0674ec;
        ;
    }

}

.guarantee-support-support {
    padding-top: 65px;
    padding-bottom: 60px;
    margin-left: 135px;

    span {
        color: #7347c1;
    }

}

//end guarantee-support

//start registration
.registration {
    background: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
    opacity: 0.9;
}

.registration__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include f400;

    &-title {
        font-size: 36px;
        color: #fff;
        margin: 110px 0 23px 0;
    }

    &-text {
        font-size: 18px;
        color: #e7e7e7;
        margin-bottom: 50px;
    }

    &-button {
        margin-bottom: 150px;

        button {
            background-color: #fff;
            border-radius: 29px;
            border: none;
            padding: 20px 0;

            a {
                width: 190px;
                height: 100%;
                color: #0674ec;
                font-size: 16px;
                padding: 20px 44px;
            }
        }
    }
}

//кнопка клиекается не по всей площади вяснить почему 
//end registration

//start footer
.footer {
    background-color: #262b30;
}

.footer__inner {
    padding: 130px 0 119px 0;
    display: flex;
    @include f400;
    color: #ababab;
    font-size: 15px;

    p {
        color: #fff;
        font-size: 18px;
        margin: 14px 0 36px 0;
    }

    a {
        color: #ababab;
    }

    .footer__inner-wrap {
        display: flex;
        justify-content: start;
        width: 50%;
    }

    .info {
        width: 50%;

        // margin-right: 80px;
        .logo {
            font-size: 24px;
            font-weight: 700;
            font-family: Quicksand;
            display: flex;
            align-items: center;
            color: #fff;
            margin-bottom: 34px;

            img {
                margin-right: 7px;
            }

            span {
                color: #0674ec;
                ;
            }
        }

        .text {
            line-height: 28px;
            text-align: left;
            font-size: 15px;
            margin-bottom: 30px;
        }

        .contacts {
            display: flex;
            align-items: center;
        }

        .phone {
            margin-bottom: 22px;

            img {
                margin-right: 12px;
            }
        }

        .email {
            margin-bottom: 22px;

            img {
                margin-right: 13px;
            }
        }

        .location {
            img {
                margin-right: 17px;
            }
        }

    }

    .company-list {
        width: 50%;
        padding-left: 66px;

        a {
            line-height: 32px;
            font-size: 15px;

        }

    }

    .support-list {
        width: 34.2%;

        a {
            line-height: 32px;
            font-size: 15px;

        }
    }

    .newslatter {
        width: 65.8%;

        span {
            line-height: 28px;
        }
        .input-wrap{
            display: flex;
            width: 100%;
            margin: 35px 0 48px 0;
            background-color: #fff;
            border-radius: 25px;
        
        input{
            width: 360px;
            padding: 11px 8px 11px 30px;
            border-radius: 25px;
            border: none;
            line-height: 28px;
            width: 69%;
        }
        button{
            width: 32%;
            border-radius: 25px;
            border: none;
            background-color: #0674ec;
            color: #fff;
        }
    }

        .social {
            display: flex;

            .icon {
                border-radius: 50%;
                background-color: green;
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 13px;
            }

            .fb {
                background-color: #395799;
            }

            .twitter {
                background-color: #19b2f5;
            }

            .google {
                background-color: #f05b44;
            }

            .pinterest {
                background-color: #9c0c1c;
            }

            .linkedin {
                background-color: #0da6be;
            }

            .basket {
                background-color: #ea4c89;
            }

        }
    }

}
.footer-author{
    background-color: #192027;
    text-align: center;
    padding: 40px 0 40px 0;
    color: #999999;
    @include f400;
    font-size: 15px;
    span{
        color: #fff;
    }
    
}

//end footer